@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Saira:200,300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    font-family: 'Saira', sans-serif;
    color: black;
    font-weight: 500;
}